<div class="container">
  <h2>Produtos: {{ categoriaUrl }}</h2>
  @if (isLoading){
    <p>Carregando...</p>
  } @else{
    @if (joias.length > 0){
      <ul>
        @for (item of joias; track item.id) {
          <li class="flex gap-2">
            <strong>{{ item.nome }}</strong><br>
            <img [src]="item.urlImagem" [alt]="item.nome" class="max-w-xs max-h-xs">
            <button (click)="excluirJoia(item.id!)">Excluir</button>
            <a [routerLink]="['/produtos/detalhe', item.id]">Exibir detalhes</a>
            <button [routerLink]="['/admin/editar', item.id]">Editar</button>
          </li>
        }
      </ul>
    } @else {
      <p>Nenhuma joia encontrada.</p>
    }
  }
  <a routerLink="/home">Voltar ao início</a>
</div>