<main>
  <!-- Hero -->
  <section>
    <p>HERO</p>
  </section>

  <!-- Categorias -->
  <section id="categorias">
    <div class="flex flex-col py-6">
      <h2>Categorias</h2>
      <a routerLink="/produtos/Anel">Anéis</a>
      <a routerLink="/produtos/Brinco">Brincos</a>
      <a routerLink="/produtos/Colar">Colares</a>
      <a routerLink="/produtos/Pulseira">Pulseiras</a>
    </div>
  </section>

  <!-- Produtos -->
  <section id="produtos">
    <div class="flex flex-col py-6">
      <h2>Produtos</h2>
      <p>Buscando algo específico? Explore por categorias.</p>
    </div>
  </section>
</main>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <!-- Sessão improvisada (deixar para visualização unica para admin no futuro) -->
<div class="flex flex-col py-6">
  <button routerLink="/admin/cadastro">Cadastrar nova joia</button>
  <a routerLink="/logar">Login</a>
</div>