<main class="flex flex-col justify-center items-center">
  <!-- Hero -->
  <section 
    class="block md:hidden relative w-full h-screen bg-cover bg-center flex items-start justify-start"
    style="background-image: url('/images/hero_mobile.png')"
  >
    <div class="pt-56 pl-12">
      <h1 class="flex flex-col text-3xl text-primary-text-color -tracking-tight">
        <span>Joias que</span> 
        <span>carregam</span> 
        <span>significado.</span>
      </h1>
      <hr class="border-highlight-color w-24 my-4">
      <p class="flex flex-col text-secondary-text-color text-xs tracking-widest my-8">
        <span>Peças delicadas para</span> 
        <span>momentos inesqueciveis</span>
      </p>
      <div>
        <button class="border-highlight-color border-[1px] text-highlight-color py-2 px-4">
          Explorar coleção
        </button>
      </div>
    </div>
  </section>

  <!-- Categorias -->
  <section id="categorias" class="flex flex-col py-6 justify-center items-center w-full">
    <h2>Categorias</h2>
      <div class="flex flex-col items-center w-full gap-10">
        @for (categoria of categorias; track categoria.nome) {
          <a [routerLink]="categoria.link" class="block w-2/3 hover:scale-110 transition-transform duration-300">
            <app-categoria-card [nomeCategoria]="categoria.nome" [imagemCategoria]="categoria.imagem"></app-categoria-card>
          </a>
        }
    </div>
  </section>

  <!-- Produtos -->
  <section id="produtos">
    <div class="flex flex-col py-6">
      <h2>Encontre a joia perfeita para você</h2>
      <p>Buscando algo específico? Explore por categorias.</p>
    </div>
  </section>
</main>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <!-- Sessão improvisada (deixar para visualização unica para admin no futuro) -->
<div class="flex flex-col py-6">
  <button routerLink="/admin/cadastro">Cadastrar nova joia</button>
  <a routerLink="/logar">Login</a>
</div>