<main class="flex flex-col justify-center items-center">
  <!-- Hero -->
  <section class="w-100">
    <img src="/images/hero.jpg" alt="Imagem de destaque">
  </section>

  <!-- Categorias -->
  <section id="categorias" class="flex flex-col py-6 justify-center items-center w-full">
    <h2>Categorias</h2>
      <div class="flex flex-col items-center w-full gap-10">
        @for (categoria of categorias; track categoria.nome) {
          <a [routerLink]="categoria.link" class="block w-2/3 hover:scale-110 transition-transform duration-300">
            <app-categoria-card [nomeCategoria]="categoria.nome" [imagemCategoria]="categoria.imagem"></app-categoria-card>
          </a>
        }
    </div>
  </section>

  <!-- Produtos -->
  <section id="produtos">
    <div class="flex flex-col py-6">
      <h2>Produtos</h2>
      <p>Buscando algo específico? Explore por categorias.</p>
    </div>
  </section>
</main>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <!-- Sessão improvisada (deixar para visualização unica para admin no futuro) -->
<div class="flex flex-col py-6">
  <button routerLink="/admin/cadastro">Cadastrar nova joia</button>
  <a routerLink="/logar">Login</a>
</div>