@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-text-color: #f9f8f7;
  --secondary-text-color: #e8e3dd;
  --highlight-text-color: #d4b382;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
}