@tailwind base;
@tailwind components;
@tailwind utilities;

body.menu-is-open {
  main {
    filter: blur(5px);
    pointer-events: none;
    transition: filter 0.3s ease;
  }
}

main {
  transition: filter 0.3s ease;
}